@media all and (min-width: 64em) {
    html {
        font-size: 1.06125em;
    }

    h3 {
        font-size: 1.25em;
    }

    #panel #scenario_form:not(:empty),
    #panel #scenarios:not(:empty),
    #panel #results:not(:empty),
    #panel .result-section:not(:empty)  {
        width: 28vw;
        min-width: 400px;
        max-width: 500px;
    }

    #panel.expanded #scenario_form:not(:empty),
    #panel.expanded #scenarios:not(:empty),
    #panel.expanded #results:not(:empty),
    #panel.expanded .result-section:not(:empty) {
        width: 45vw;
        max-width: 45vw;
    }
}
