@supports(--var: 'value') {
    /**
     * Setting some variables mainly for reference because
     * no support for css vars in IE  (╯°□°)╯
     */
    :root {
        --top-nav-height: 15vh;
        --tall: 30vh; // 14rem
        --short: 12vh; // 5rem
        --map-tall-nav: 55vh;
        --map-short-nav: 73vh;
    }
}

/**
 * header
 */
header {
    position: relative;
    z-index: 2;
}

/**
 * navbar styles
 */
.top-nav-wrap {
     background: #58595B;
     color: #fff;
     display: block;
     height: 15vh;
}

nav .navbar-toggler {
    background: #67b8c6;
    border-radius: 50%;
    border: none;
    height: 3.5rem;
    line-height: 3.5rem;
    outline: none;
    text-align: center;
    padding: 0;
    width: 3.5rem;
}

nav .navbar-toggler .navbar-toggler-icon {
    background-image: url('/static/ucsrb/img/icon/i_close.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
}
    nav .navbar-toggler.collapsed .navbar-toggler-icon {
        background-image: url('/static/ucsrb/img/navicon.svg');
    }

.top-nav-wrap .navbar {
    justify-content: flex-start;
    padding: 1em;
}

.top-nav-wrap .navbar h1 {
    line-height: 2;
    margin: 0 1em;
}

#menu {
    z-index: 3;
}

/**
 * Nav with scenario options (select, filter, draw)
 */
.secondary-nav {
    background: #fff;
    height: 14rem;
    height: 30vh;
}

    .secondary-nav.icons-only {
        animation: shrink-height .3s linear forwards .6s;
    }

#scenario-nav {
    transition: 0.3s all linear;
}

#scenario-nav li {
    margin: 0;
    position: relative;
    text-align: center;
}

    #scenario-nav li:after {
        content: '';
        border-right: 10px solid #e6e7e8;
        height: 60%;
        position: absolute;
        transition: 0.3s height ease-in 0.3s;
        top: 15%;
        right: -5px;
    }

    #scenario-nav li:last-of-type:after {
        border-right: none;
    }

#scenario-nav button {
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
    padding: 0;
}
    #scenario-nav button.active {
        transition: 1s all ease-in 2s;
    }

    #scenario-nav button.active:after {
        background: #fff;
        box-shadow: 2px 2px 4px rgba(0,0,0,0.31);
        content: '';
        height: 30px;
        opacity: 1;
        position: absolute;
        transform: rotate(45deg) translate(-15px,5px);
        transform-origin: center left;
        width: 30px;
        z-index: 1;
    }

#scenario-nav button img {
    max-height: 5.5rem;
    margin-bottom: 1rem;
    pointer-events: none;
    max-width: 96%;
}

#scenario-nav h3 {
    margin: 0 auto;
    pointer-events: none;
    transition: 0.2s all linear;
    transform: rotateX(0deg);
    width: 96%;
}

#file-nav {
    background: #e6e7e8;
    font-size: 1em;
    font-weight: 600;
    padding-left: 4rem;
    transition: 0.25s padding linear 0.35s;
}

#file-nav li {
    display: block;
    margin: 0;
}

#file-nav a {
    display: inline-block;
    text-decoration: none;
}

.icons-only {
    box-shadow: 0 2px 4px rgba(0,0,0,0.31);
}
.icons-only #scenario-nav h3 {
    animation: shrink-height_zero-one .25s linear forwards 0.35s;
    transform: rotateX(90deg);
}

.icons-only #scenario-nav img {
    animation: shrink-img .25s linear forwards 0.35s;
}

.icons-only #scenario-nav li:after {
    height: 80%;
}

.icons-only #file-nav {
    font-size: .9375em;
}

/**
 * map styles
 */

.map-wrap {
    height: 73vh;
    overflow: hidden;
    position: relative;
    transition: 0.3s all ease-in 0.1s;
    margin-top: -18vh;
    /* z-index: -1; */
}
    .map-wrap.short-nav {
        /* z-index: 0; */
        margin-top: 0;
    }

.map-wrap .overlay {
    background: rgba(58,86,117,0.84);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    transition: 0.4s all ease-in 0.5s;
    top: 0;
    z-index: 1;
}
    .map-wrap .overlay.fade-out {
        background: rgba(58,86,117,0);
    }

.map-wrap .overlay .instructions {
    padding-top: 50%;
    padding-top: 36vh;
}
    .map-wrap .overlay .instructions:before {
        border-bottom: 20px solid #fff;
        border-right: 24px solid transparent;
        border-left: 24px solid transparent;
        content: '';
        left: 50%;
        position: absolute;
        top: 40%;
        transform: translate(-24px,0);
    }

#map {
    height: 100%;
}

/**
 * panel styles
 */
#right-panel {
    /* background: rgba(0,105,85,0.2); */
    display: none;
    position: absolute;
    right: 1em;
    top: 1em;
    width: 90%;
}

#right-panel div {
    visibility: hidden;
}

#right-panel div.show {
    visibility: visible;
}

/**
 * keyframe animation
 */

@keyframes shrink-height {
    from {
        height: 14rem;
        height: 30vh;
    }
    to {
        height: 5rem;
        height: 12vh;
    }
}

@keyframes shrink-height_zero-one {
    0% {
       height: 2rem;
    }
    100% {
       height: 0;
    }
}

 @keyframes shrink-img {
   0% {
       max-height: 5.5rem;
       margin-bottom: 1rem;
   }
   100% {
       max-height: 3.5rem;
       margin-bottom: 0;
   }
 }
