.map-wrap {
    height: 65vh;
    position: relative;
}

#map {
    height: 100%;
}

#right-panel {
    background: rgba(0,105,85,0.9);
    color: #fff;
}

#right-panel div {
    visibility: hidden;
}

#right-panel div.show {
    visibility: visible;
}
