* {
    box-sizing: border-box;
}

html {
    font-weight: normal;
    font-size: 1em;
}

body {
  background: rgba(220,250,215,.75);
  font-family: 'Andale Mono';
  margin: 0;
  padding: 0;
}

button {
    background: lemonchiffon;
    display: inline-block;
    margin: 5px;
    padding: 5px;
}
a {
    margin: 10px;
}

a:hover {
    cursor: pointer;
}

a.btn {
    border-width: 2px;
    border-radius: 0;
}

.jumbotron a.btn {
    font-size: 1.5em;
}

.nav-wrap {
    border-bottom: 3px solid #fff;
    overflow: hidden;
    position: relative;
}

nav {
    background: rgba(25,255,250,.5);
    line-height: 3;
}

footer {

}
