@supports(--var: 'value') {
    /**
     * Setting some variables mainly for reference because
     * no support for css vars in IE  (╯°□°)╯
     */
    :root {
        --primary: #3a5675;
            --hover: #3a5675;
        --secondary: #67b8c6;
            --link: #67b8c6;
        --accent: #e2e05e;
        --bg: #EAF2F4;
        --text: #58595b;

        --margin-bottom: 1.5rem;
    }
}

/* * {
    box-sizing: border-box;
} */

html {
    font-size: 1em;
}

body {
    color: #58595b;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: normal;
}

img {
    height: auto;
    max-width: 100%;
}

i.svg_icon {
    display: inline-block;
    height: 1rem;
    margin: 0 .5rem 0 0;
    width: 1rem;
}

    i.svg_icon img {
        height: 100%;
        width: 100%;
    }

hr {
    background: #e2e05e;
    border: none;
    height: 10px;
    margin: 1.5rem 0;
}

p {
    font-size: 1em;
    margin: 0 0 1.5rem;
}

a,
.button-modal {
    color: #67b8c6;
    opacity: 1;
    transition: 0.1s all ease-in;
}

a:hover,
.button-modal:hover {
    color: #3a5675;
    cursor: pointer;
    text-decoration: none;
}

a.btn-outline-light {
    border-width: 2px;
    border-radius: 0;
}

h1 {
    font-size: 2.5em;
    color: #fff;
    font-weight: 900;
}

h2 {
    font-size: 2em;
    font-weight: 900;
}

h3 {
    color: #3a5675;
    font-size: 1.125em;
    font-weight: 700;
}

h4 {
    color: #5d7452;
    font-size: 1.5em;
    font-weight: 500;
}

h5 {
    font-size: 1.25em;
    font-weight: 500;
}

footer {
    padding: 3rem 0;
}

footer p {
    font-size: 1em;
    margin-bottom: .5rem;
}

footer hr {
    margin-top: 2.5rem;
}

footer .pad-left {
    padding-left: 3rem;
}

footer .footer-logo {
    max-width: 84%;
}
