@supports(--var: 'value') {
    /**
     * Setting some variables mainly for reference because
     * no support for css vars in IE  (╯°□°)╯
     */
    :root {
        --link: #67b8c6;
        --hover: #3a5675;
    }
}

* {
    box-sizing: border-box;
}

html {
    font-weight: normal;
    font-size: 1em;
}

body {
  font-family: 'Andale Mono';
}

img {
    height: auto;
    max-width: 100%;
}

a {
    color: #67b8c6;
}

a:hover {
    color: #3a5675;
    cursor: pointer;
}

a.btn {
    border-width: 2px;
    border-radius: 0;
}

.jumbotron a.btn {
    font-size: 1.5em;
}

.nav-wrap {
    border-bottom: 3px solid #fff;
    overflow: hidden;
    position: relative;
}

nav {
}

footer {

}
