/**
 * =========================================================================
   Home Page
 ===========================================================================
 */


 .home header {
     position: relative;
     z-index: 1;
 }

.home-wrap {
    overflow: hidden;
    width: 100%;
}

.home .top-nav-wrap {
    height: 10vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.home .top-nav-wrap .navbar {
    justify-content: flex-end;
}

.home .top-nav-wrap h1 {
    display: none;
}

.home .top-nav-wrap .navbar-toggler {
    background-color: rgba(255,255,255,0.7);
}

.home .top-nav-wrap .navbar-collapse.collapse.show,
.home .top-nav-wrap .navbar-collapse.collapsing,
.home .top-nav-wrap .navbar-collapse.collapse {
    justify-content: flex-end;
}

/**
 * Hero image area (top of screen)
 * @css
 */

.jumbotron {
    background: transparent;
    color: #fff;
    position: relative;
    margin-bottom: 0;
}

    .jumbotron:before {
        background: rgba(0,0,0,0.4);
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }

.hero-bg {
    background: url('/static/ucsrb/img/methow.jpg');
    background-size: cover;
    background-position: center;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    overflow: hidden;
    position: absolute;
    pointer-events: none;
    z-index: -2;
}

.jumbotron cite {
    visibility: hidden;
}

.jumbotron h1 {
    color: #f1f1f1;
    font-size: 3.75em;
    font-weight: 700;
    margin: 3rem 0;
}

.jumbotron a.btn {
    border: 5px solid #fff;
    color: #fff;
    letter-spacing: .05em;
    font-size: 1.6375em;
    font-weight: 700;
    margin: 0 0 10rem;
}

/**
 * home page content under hero image
 * @css
 */

.home-intro {
    background: #fff;
    color: #58595B;
    position: relative;
    text-align: center;
    width: 100%;
}

    .home-intro:before {
        background: #fff;
        border-radius: 100%;
        content: '';
        height: 492px;
        left: -15%;
        position: absolute;
        top: -100px;
        width: 130%;
        z-index: -1;
    }

.home-intro .icon {
    display: block;
    margin: 0 auto 1em;
}

.home-intro h2,
.home-about h2 {
    font-size: 2.125em;
    font-weight: 700;
}

.home-intro p,
.home-about p {
    font-size: 1.3125em;
    font-weight: 700;
}

.home-intro .row {
    margin-bottom: 2rem;
}

.home-about {
    text-align: left;
}

.home-about p {
    font-weight: 400;
}

.home-about .align-self-end p {
    padding-right: 10%;
}
