#tlyPageGuideWrapper,
.tlypageguide {
  right: 0;
  z-index: 2;
}

#stepTwoPageGuide {
    display: none;
}

#tlyPageGuideWrapper #tlyPageGuideToggles {
    z-index: 2;
}

#tlyPageGuideWrapper .tlypageguide_toggle,
.tlypageguide .tlypageguide_toggle {
   /* background: #FFF; */
   background: rgba(247,0,119,0.5);
   color: #fff;
   font-size: 13px;
   font-weight: 900;
   height: 35px;
   padding: 5px 1px;
   position: fixed;
   right: -100px;
   text-indent: 24px;
   text-align: left;
   top: 39vh;
   z-index: 2;
}

#tlyPageGuideWrapper .tlypageguide_toggle {
  width: 175px;
}
    #tlyPageGuideWrapper .tlypageguide_toggle:before {
        background: none;
        height: 0;
        width: 0;
    }

#tlyPageGuideWrapper .tlypageguide_toggle:hover,
.tlypageguide .tlypageguide_toggle:hover {
  background: #f70077;
  text-shadow: none;
}

/* #tlyPageGuideWrapper .tlypageguide_toggle span, */
#tlyPageGuideWrapper .tlypageguide_toggle div,
.tlypageguide .tlypageguide_toggle div {
  border-left: 0;
  font-size: 11px;
  font-weight: 400;
  height: 35px;
  line-height: 20px;
  text-align: left;
  text-indent: 0;
  width: 125px;
}

#tlyPageGuideWrapper .tlypageguide_toggle #pageguide_btn,
.tlypageguide .tlypageguide_toggle #pageguide_btn {
  /* text-align: none; */
  position: relative;
  border-left: none;
  width: 50px;
}

#tlyPageGuideWrapper .tlypageguide_toggle #pageguide_btn span,
.tlypageguide .tlypageguide_toggle #pageguide_btn span {
  font-size: .875em;
  display: table-row;
  text-indent: 0;
  width: 135px;
}

#tlyPageGuideToggles .tlyPageGuideToggleActive a,
.tlypageguide .tlyPageGuideToggleActive a {
  background: rgba(230,230,230,0.8);
  padding-left: 10px;
  padding-right: 10px;
}
