{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>

    {% block extra_head %}
        <meta name="description" content="upper columbia">
        <meta name="robots" content="index,follow"><!-- All Search Engines -->
        <meta name="googlebot" content="index,follow"><!-- Google Specific -->
        <meta name="referrer" content="same-origin">

        <!-- <link rel="icon" type="image/png" sizes="16x16" href="{% static 'hnfp/img/favicon16x16.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'hnfp/img/favicon32x32.png' %}">
        <link rel="icon" type="image/png" sizes="96x96" href="{% static 'hnfp/img/favicon.png' %}"> -->

        <!-- polyfill based on user agent -->
        <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    {% endblock %}

    {% block site_style %}
        <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:400,500,700|Cabin:700" rel="stylesheet">
        <link href="{% static 'ucsrb/external/bootstrap-4.3.1-dist/css/bootstrap.min.css' %}" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'ucsrb/css/base.css' %}" />
    {% endblock site_style %}

    {% block extra_css %}{% endblock extra_css %}

    {% block jquery %}
        <script src="{% static 'ucsrb/lib/jquery-3.2.1.min.js' %}"></script>
        <!-- <script src="https://code.jquery.com/jquery-1.7.1.js" integrity="sha256-n8wkEJNAWUaIUDnfQoz6fwBRofK9vMWjE6F3qeNfiAY=" crossorigin="anonymous"></script> -->
    {% endblock jquery %}

    {% block js_head %}{% endblock js_head %}
</head>

<body class="{% block body_class %}classless-page{% endblock %} {% block layout %}base{% endblock %}-layout">
    {% csrf_token %}
    {% block header_wrap %}
        <header>
            {% block header %}
                <div class="nav-wrap top-nav-wrap">
                    {% include 'ucsrb/blocks/nav.html' %}
                </div>
            {% endblock header %}
        </header>
    {% endblock header_wrap %}

    {% block main %}
        <main>
            {% block content %}{% endblock content %}
            {% block outer_content %}{% endblock outer_content %}
        </main>
    {% endblock main %}

    {% block footer_wrap %}
        <footer>
            {% block footer %}
                {% include 'ucsrb/footer.html' %}
            {% endblock %}
        </footer>
    {% endblock %}

    {% block modal %}
        {% block login_modal %}
            <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-modal" aria-hidden="true">
                {% include 'ucsrb/blocks/login_modal.html' %}
            </div>
        {% endblock login_modal %}
    {% endblock modal %}

    {% block js %}
        <script src="{% static '/ucsrb/lib/popper.min.js' %}"></script>
        <script src="{%static 'ucsrb/external/bootstrap-4.3.1-dist/js/bootstrap.min.js' %}"></script>
        <!-- Automatically provides/replaces `Promise` if missing or broken. -->
        <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js"></script>
        <script src="{% static '/ucsrb/js/main.js' %}"></script>
    {% endblock js %}

    {% block extra_js %}{% endblock %}

    {% block top-level %}{% endblock %}

</body>
</html>
