<!-- {\% load static menu %} -->
{% load static %}
<div class="footer-inner">
    <div class="info">
        <a class="footer-brand" href="/">
            <img src="{% static 'brand/logo.svg' %}"></img>
        </a>
        <p class="about-text">Welcome to the <a href="{% url 'visualize' %}">UCSRB Snowpack Treatment Planner</a>, an Interactive mapping tool.</p>

    <div class="social-links">
    </div>

    <div class="contact">
      <a class="email" href="mailto:ksdev@ecotrust.org">ksdev@ecotrust.org</a>
    </div>

  </div>
  <!--
  {\% menus "footer" "plain" %}
-->
</div>
