MAPBOX_ACCESS_TOKEN = 'SET ME IN UCSRB LOCAL SETTINGS'
ALLOW_ANONYMOUS_DRAW = False
ANONYMOUS_USER_PK = 2

HERE_API_TOKEN = 'SET ME IN UCSRB LOCAL SETTINGS'
HERE_APP_CODE = 'SET ME IN UCSRB LOCAL SETTINGS'

USE_TZ = False

ALLOWED_HOSTS = []

NOCAPTCHA = True
RECAPTCHA_PUBLIC_KEY = 'SET ME IN UCSRB LOCAL SETTINGS'
RECAPTCHA_PRIVATE_KEY = 'SET ME IN UCSRB LOCAL SETTINGS'

DEBUG = False
