<div class="featurepanel">

    {% load static from staticfiles %}

    <h4>UCSRB Scenario</h4>

    <form id="scenario-form" action="{{ action }}" method="post">
        {% for hidden in form.hidden_fields %}
            <div style="display:none;">
                {{ hidden.errors }}
            </div>
            {{ hidden }}
        {% endfor %}
        <div id="error_bar"></div>

        <div id="step1" class="step">
            <p class="step-text"><i>Step 1 of 3 </i></p>

            <p class="instructions">Select 1 or more criteria for this sector.</p>

            <label class="step-header">Class Header</label>

            <div id="step1_inputs">
                <ul class="parameters">
                    <!--
                    <li>
                        <div class="accordion" id="wind-speed-accordion">
                            <div class="accordion-heading" data-bind="click: toggleWindSpeedWidget">
                                <label class="accordion-toggle">
                                    {{ form.input_parameter_wind_speed }}
                                    <i class="fa fa-check-square" data-bind="visible: windSpeedParameter()"></i>
                                    <i class="fa fa-square-o" data-bind="visible: !windSpeedParameter()"></i>
                                    <span class="parameter-label">Wind Speed</span>
                                </label>
                                <i class="fa fa-info-circle info-icon"
                                   data-toggle="tooltip"
                                   data-content="Estimated wind speed at 90m from data published by the National Renewable Energy Laboratory (NREL)."
                                   data-placement="right"
                                   data-container="body"></i>
                            </div>
                            <div id="wind_speed_widget"
                                 class="inputfield accordion-body collapse"
                                 data-bind="css: {'in': windSpeedParameter()}">
                                <div class="accordion-inner">
                                    <div>Potential: <span id="wind_speed_text" class="label potential">Outstanding</span></div>
                                    <div>
                                        Min Avg Speed (m/s):
                                        {{ form.input_avg_wind_speed }}
                                        {{ form.input_avg_wind_speed.errors }}
                                    </div>

                                    <div>
                                        <a class="btn btn-default btn-sm"
                                           data-bind="css: { 'active': windSpeedLayer.active(), 'not-active': ! windSpeedLayer.active() }, click: toggleWindSpeedLayer">
                                            <span>Wind Speed Data</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    -->
                    <!-- Substation -->
                    <!--
                    <li>
                        <div class="accordion" id="distance-to-substation-accordion">
                            <div class="accordion-heading" data-bind="click: toggleSubstationWidget">
                                <label class="accordion-toggle">
                                    {{ form.input_parameter_distance_to_substation }}
                                    <i class="fa fa-check-square" data-bind="visible: distanceToSubstationParameter()"></i>
                                    <i class="fa fa-square-o" data-bind="visible: !distanceToSubstationParameter()"></i>

                                    <span class="parameter-label">Distance to Coastal Substation </span>
                                    <i class="fa fa-info-circle info-icon"
                                       data-toggle="popover"
                                       data-content="Distance to the nearest onshore 500kV substation. Note that substation locations are not shown in the planner due to the proprietary nature of the source data."
                                       data-placement="right"
                                       data-container="body">
                                    </i>
                                </label>
                            </div>
                            <div id="distance_to_substation_widget"
                                 class="inputfield accordion-body collapse"
                                 data-bind="css: {'in': distanceToSubstationParameter()}">
                                <div class="accordion-inner">
                        <span>
                            Maximum Distance (in miles)
                            {{ form.input_distance_to_substation }}
                            {{ form.input_distance_to_substation.errors }}
                        </span>
                                </div>
                            </div>
                        </div>
                    </li>
                    -->
                    <li></li>

                </ul>
            </div>
            <p></p>
        </div>
        <!--
        <div id="step2" class="step">
            <p class="step-text"><i>Step 2 of 3 </i></p>

            <p class="instructions">Choose any filtering criteria from other
                sectors </p>
            <label class="step-header">Shipping</label>

            <div id="step2_inputs">
                <ul class="parameters">
                    <li>
                        <div class="accordion">
                            <div class="accordion-heading"
                                 data-bind="click: toggleShippingLanesWidget">
                                <label class="accordion-toggle">
                                    {{ form.input_filter_distance_to_shipping }}
                                    <i class="fa fa-check-square" data-bind="visible: distanceToShippingParameter()"></i>
                                    <i class="fa fa-square-o" data-bind="visible: !distanceToShippingParameter()"></i>

                                    <span class="parameter-label">Distance to Ship Routing Measures </span>
                                    <i class="fa fa-info-circle info-icon"
                                       data-toggle="popover"
                                       data-content="Ship Routing Measures are designated traffic areas providing access routes for vessels proceeding to and from U.S. ports."
                                       data-placement="right"
                                       data-container="body">
                                    </i>
                                </label>
                            </div>
                            <div id="distance_to_shipping_widget"
                                 class="inputfield accordion-body collapse"
                                 data-bind="css: {'in': distanceToShippingParameter()}">
                                <div class="accordion-inner">
                                    <div>
                                        <label class="parameter-label"> Minimum Distance
                                            (miles)
                                            {{ form.input_distance_to_shipping }}
                                            {{ form.input_distance_to_shipping.errors }}
                                        </label>
                                    </div>
                                    <div>
                                        <a class="btn btn-default btn-sm"
                                           data-bind="css: { 'active': shippingLanesLayer.active(), 'not-active': ! shippingLanesLayer.active() }, click: toggleShippingLanesLayer">
                                            <span>Show Ship Routing Measures Data</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="accordion">
                            <div class="accordion-heading"
                                 data-bind="click: toggleShipTrafficWidget">

                                {{ form.input_filter_ais_density }}

                                <label id="ship_traffic_density_widget" class="accordion-toggle checkbox">
                                    <i class="fa fa-check-square" data-bind="visible: shipTrafficDensityParameter()"></i>
                                    <i class="fa fa-square-o" data-bind="visible: !shipTrafficDensityParameter()"></i>

                                    <span class="parameter-label">Exclude Areas with High or Moderate Traffic </span>
                                    <i class="fa fa-info-circle info-icon"
                                       data-toggle="popover"
                                       data-content="Areas for which AIS data indicate higher ship traffic can be excluded."
                                       data-placement="right"
                                       data-container="body">
                                    </i>
                                </label>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <label class="step-header">Security</label>

            <div id="step2_inputs">
                <ul class="parameters">
                    <li>
                        <div class="accordion">
                            <div class="accordion-heading"
                                 data-bind="click: toggleUXOWidget">

                                {{ form.input_filter_uxo }}

                                <label class="accordion-toggle checkbox">
                                    <i class="fa fa-check-square" data-bind="visible: uxoParameter()"></i>
                                    <i class="fa fa-square-o" data-bind="visible: !uxoParameter()"></i>

                                    <span class="parameter-label">Exclude Areas with Unexploded Ordnances</span>
                                    <i class="fa fa-info-circle info-icon"
                                       data-toggle="popover"
                                       data-content="Generalized and known areas where unexploded ordnance were dumped can be excluded."
                                       data-placement="right"
                                       data-container="body">
                                    </i>
                                </label>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <p></p>
        </div>
        -->

        <div id="step3" class="step">
            <p class="step-text"><i>Step 3 of 3 </i>

            <p class="instructions">Provide a <b>Name</b> to identify your Wind
                Energy Siting </p>

            <div class="step3-inputs">
                <div class="step3-param">
                    {{ form.name.errors }}
                    {{ form.name }}
                    <div id="invalid-name-message" class="control-group error"
                         style="display: none; margin-top: -10px; margin-left: -5px;">
                        <span class="help-inline">The <b>Name</b> field is required.</span>
                    </div>
                </div>
                <p class="instructions">Optionally, you may add a
                    <b>Description</b> <!--and/or attach a file--> </p>

                <div class="step3-param">
                    {{ form.description.errors }}
                    {{ form.description }}
                </div>
                <!--
        <div class="step3-param">
            {{ form.support_file.label_tag }}
            {{ form.support_file.errors }}
            {% if form.support_file.help_text %}
                <p>{{ form.support_file.help_text }}</p>
            {% endif %}
            {{ form.support_file }}
        </div>
        -->
                <div id="scenario-cp">
                    <!--<input type="color" value="#ff0667" data-text="hidden" style="height:20px;width:20px;" />-->
                </div>
            </div>
        </div>

        <p>
            <button type="submit" value="submit" class="btn-submit btn">submit
            </button>
        </p>
    </form>

    <div class="show-blocks-btn">
        <span data-bind="visible: !isLeaseblockLayerVisible()">
            <a class="btn btn-default" data-bind="click: activateLeaseblockLayer">
                <span class="badge" style="margin-right: 5px; margin-left: -5px;"
                      data-bind="text: leaseblocksLeft"></span> Lease Blocks
                Remaining
                <i class="fa fa-square-o"
                   style="margin-right: -5px; margin-left: 5px;"></i>
            </a>
        </span>
        <span data-bind="visible: isLeaseblockLayerVisible()">
            <a class="btn btn-default" data-bind="click: deactivateLeaseblockLayer">
                <span class="badge" style="margin-right: 5px; margin-left: -5px;"
                      data-bind="text: leaseblocksLeft"></span>
                Lease Blocks Remaining
                <i class="fa fa-check-square"
                   style="margin-right: -5px; margin-left: 5px;"></i>
            </a>
        </span>
    </div>

    <div class="wizard_nav" style="width:100%">
        <div class="btn-group pull-right">
            <a href="#" class="btn btn-default"
               onclick="this.blur(); return false;"
               id="button_prev">
                <span>&lt; Previous</span>
            </a>

            <a href="#" class="btn btn-primary" onclick="this.blur(); return false;"
               id="button_next">
                <span>Next &gt;</span>
            </a>

            <a href="#" class="submit_button btn btn-primary"
               onclick="this.blur(); return false;">
                <span>Save</span>
            </a>
        </div>
    </div>

    <div>
        <div class="btn-group pull-left">
            <a href="#" class="cancel_button btn btn-default"><span>Cancel</span></a>

        </div>
    </div>


    <script type="text/javascript">
        jQuery.getScript("{% static 'scenarios_form.js' %}", function () {
            console.debug("Loaded: {% static 'scenarios_form.js' %}");
        });
    </script>


</div>
