<div class="featurepanel">

    {% load static from staticfiles %}

    <h4>UCSRB Scenario</h4>

    {% include 'scenarios/scenario_form.html' %}

    <div class="show-blocks-btn">
        <!--
          <span data-bind="visible: !isLeaseblockLayerVisible()">
            <a class="btn btn-default" data-bind="click: activateLeaseblockLayer">
                <span class="badge" style="margin-right: 5px; margin-left: -5px;"
                      data-bind="text: leaseblocksLeft"></span> Lease Blocks
                Remaining
                <i class="fa fa-square-o"
                   style="margin-right: -5px; margin-left: 5px;"></i>
            </a>
          </span>
        -->
        <!--
          <span data-bind="visible: isLeaseblockLayerVisible()">
            <a class="btn btn-default" data-bind="click: deactivateLeaseblockLayer">
                <span class="badge" style="margin-right: 5px; margin-left: -5px;"
                      data-bind="text: leaseblocksLeft"></span>
                Lease Blocks Remaining
                <i class="fa fa-check-square"
                   style="margin-right: -5px; margin-left: 5px;"></i>
            </a>
          </span>
        -->
    </div>

    <div class="wizard_nav" style="width:100%">
        <div class="btn-group pull-right">
            <a href="#" class="btn btn-default"
               onclick="this.blur(); return false;"
               id="button_prev">
                <span>&lt; Previous</span>
            </a>

            <a href="#" class="btn btn-primary" onclick="this.blur(); return false;"
               id="button_next">
                <span>Next &gt;</span>
            </a>

            <a href="#" class="submit_button btn btn-primary"
               onclick="this.blur(); return false;">
                <span>Save</span>
            </a>
        </div>
    </div>

    <div>
        <div class="btn-group pull-left">
            <a href="#" class="cancel_button btn btn-default"><span>Cancel</span></a>

        </div>
    </div>


    <script type="text/javascript">
        jQuery.getScript("{% static 'scenarios_form.js' %}", function () {
            console.debug("Loaded: {% static 'scenarios_form.js' %}");
        });
    </script>


</div>
