<div class="featurepanel">
    {% load static from staticfiles %}

    {% if form.media %} {{ form.media }} {% endif %}
    <h4>New Forest Management Scenario</h4>
    <div class="show-blocks-btn">
        <a class="button btn btn-light enabled-grid-button" data-toggle="button" data-bind="click: showFilteringResults">
            <i class="icon-large icon-check-empty" style="margin-left: 0;" data-bind="visible: !showingFilteringResults()"></i>
            <i class="icon-large icon-check" style="margin-left: 0;" data-bind="visible: showingFilteringResults() && !showButtonSpinner()"></i>
            <span>Forested areas to treat</span>
            <span class="badge badge-light" style="margin-right: 4px; margin-left: 4px;" data-bind="text: gridCellsRemaining()"></span>
            <i class="icon-large icon-refresh icon-spin" style="margin-left: 5px; height: 5px" data-bind="visible: showingFilteringResults() && showButtonSpinner()"></i>
        </a>
    </div>
    <form id="scenarios-form" action="{{ action }}" method="post" name="scenarios-form">
        {% for hidden in form.hidden_fields %}
            <div style="display:none;">
                {{ hidden.errors }}
            </div>
            {{ hidden }}
        {% endfor %}
        <div id="error_bar"></div>

        {% for step in form.get_steps %}
        <div id="step{{ forloop.counter }}" class="step max{{ form.get_steps|length|add:"1" }} bg-light">
            <div class="progress">
              <div class="progress-bar" aria-valuenow="{{ forloop.counter }}" aria-valuemin="0" aria-valuemax="{{ form.get_steps|length|add:"1" }}"></div>
            </div>
            {# <p class="step-text"><i>Step  of {{ form.get_steps|length|add:"1" }} </i></p> #}
            <div id="step{{ forloop.counter }}_inputs" class="step-inputs">
                <div class="form-group">
                    <label class="instructions">Select criteria to filter forested areas</label>
                </div>
                <div class="parameters">
                    {% for field, field_min, field_max, field_input, field_checkbox in step %}
                    <div class="form-group">
                        <div class="accordion row" id="{{ field.html_name }}_accordion">
                            <div class="accordion-heading col" data-bind="click: function() {app.viewModel.scenarios.scenarioFormModel.toggleParameter('{{ field.html_name }}'); }">
                                <label class="accordion-toggle">
                                    {{ field.as_widget }}
                                    <i class="check icon-large icon-check" data-bind="visible: app.viewModel.scenarios.scenarioFormModel.{{ field.html_name }}()"></i>
                                    <!-- <i class="check icon-large icon-check" data-bind="visible: app.viewModel.scenarios.scenarioFormModel.avoid_private()"></i> -->
                                    <i class="check icon-large icon-check-empty"></i>
                                    <span class="parameter-label form-check-label" style="margin-left: 15px">{{ field.label }}</span>
                                </label>
                            </div>
                            <div class="col-md-auto">
                                <i class="info-icon icon-info-sign field-tooltip"
                                   data-toggle="tooltip"
                                   data-original-title="{{ field.help_text }}"
                                   data-placement="top">
                                </i>
                            </div>
                            {% if field_min or field_max or field_input or field_checkbox %}

                        <!--
                           - example of using bootstrap 4 collapse
                           - less code, and no need for knockout
                            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#{{ field.html_name }}_test" aria-expanded="false" aria-controls="collapseExample">
                                Button with data-target
                              </button>
                              <div id="{{ field.html_name }}_test" class="collapse">
                                  <div class="card card-body">
                                      <p> test</p>
                                  </div>
                              </div>
                        -->

                            <!-- <div id="{{ field.html_name }}_widget" class="inputfield accordion-body collapse" data-bind="css: {'in': {{ field.html_name }}()}"> -->
                            <div id="{{ field.html_name }}_widget" class="inputfield accordion-body collapse" data-bind="css: {'in': {{ field.html_name }}()}">
                                <div class="accordion-inner">
                                    <div>
                                        {% if field_min %}
                                            {{ field_min.field.widget.attrs.pre_text | safe }}
                                            {{ field_min.as_widget }}
                                            {{ field_min.field.widget.attrs.post_text | safe }}
                                        {% endif %}{% if field_max %}
                                            {{ field_max.field.widget.attrs.pre_text | safe  }}
                                            {{ field_max.as_widget }}
                                            {{ field_max.field.widget.attrs.post_text | safe  }}
                                        {% endif %}{% if field_input %}
                                            {{ field_input.field.widget.attrs.pre_text | safe  }}
                                            {{ field_input.as_widget }}
                                            {{ field_input.field.widget.attrs.post_text | safe  }}
                                        {% endif %}{% if field_checkbox %}
                                            {{ field_checkbox.field.widget.attrs.pre_text | safe }}
                                            {{ field_checkbox.as_widget }}
                                            {{ field_checkbox.field.widget.attrs.post_text | safe }}
                                        {% endif %}

                                        {% if field.field.widget.attrs.layer_id and field.field.widget.attrs.layer_title %}
                                        <div class="btn-group btn-group-layer show-layer-btn-group">
                                            <a  class="btn btn-info-sign"
                                                style="height: 16px; line-height: 16px"
                                                data-bind="click: function() { toggleLayerInfo( {{ field.field.widget.attrs.layer_id }} ); }, css: { 'active': isLayerInfoActive( {{ field.field.widget.attrs.layer_id }} ) }">
                                                <i class="icon-info-sign icon-large"></i>
                                            </a>

                                            <a  class="btn btn-layer show-layer-btn"
                                                style="height: 16px; line-height: 16px"
                                                data-bind="css: { 'active': isLayerActive(), 'not-active': ! isLayerActive( {{ field.field.widget.attrs.layer_id }} ) }, click: function() { toggleLayer( {{ field.field.widget.attrs.layer_id }} ); }">
                                                <div style="font-weight: normal">
                                                    <span>{{ field.field.widget.attrs.layer_title }}</span>
                                                    <i  class="check icon-large icon-check"
                                                        style="top: 8px"
                                                        data-bind="visible: isLayerActive( {{ field.field.widget.attrs.layer_id }} ) && isLayerVisible( {{ field.field.widget.attrs.layer_id }} )">
                                                    </i>
                                                    <i  class="check icon-large icon-check-empty"
                                                        style="top: 8px"
                                                        data-bind="visible: ! isLayerActive( {{ field.field.widget.attrs.layer_id }} ) || ! isLayerVisible( {{ field.field.widget.attrs.layer_id }} )">
                                                    </i>
                                                </div>
                                            </a>
                                        </div>
                                        {% endif %}

                                        {{ field.errors }}

                                        <script type="text/javascript">
                                            {% if field_min and not field_max %}
                                                $('#slider-{{ field_input.html_name }}').bind( "slidestop", function(event, ui) {
                                                    // $(this).slider('value', ui.value); // this line prevents the slider value from being 1 tick off (value update is normally lagging this event trigger)
                                                    if (app.viewModel.scenarios.scenarioFormModel) {
                                                        app.viewModel.scenarios.scenarioFormModel.updateFiltersAndCount('{{ field.html_name }}');
                                                    }
                                                });
                                                $('#slider-{{ field_input.html_name }}').bind( "slide slidechange", function(event, ui) {
                                                    $('#slider-{{ field_min.html_name }}').slider('value', ui.value); // this line prevents the slider value from being 1 tick off (value update is normally lagging this event trigger)
                                                    $('#id_{{ field_min.html_name }}').val(ui.value); // this line prevents the slider value from being 1 tick off (value update is normally lagging this event trigger)
                                                    if (app.viewModel.scenarios.scenarioFormModel) {
                                                        app.viewModel.scenarios.scenarioFormModel.gridCellsRemaining('...');
                                                    }
                                                });
                                            {% elif field_max and not field_min %}
                                                $('#slider-{{ field_input.html_name }}').bind( "slidestop", function(event, ui) {
                                                    $(this).slider('value', ui.value); // this line prevents the slider value from being 1 tick off (value update is normally lagging this event trigger)
                                                    if (app.viewModel.scenarios.scenarioFormModel) {
                                                        app.viewModel.scenarios.scenarioFormModel.updateFiltersAndCount('{{ field.html_name }}');
                                                    }
                                                });
                                                $('#slider-{{ field_input.html_name }}').slider(
                                                  {
                                                    slide: function(event, ui) {
                                                      $('#id_{{ field_max.html_name }}').val(ui.value); // this line prevents the slider value from being 1 tick off (value update is normally lagging this event trigger)
                                                      if (app.viewModel.scenarios.scenarioFormModel) {
                                                          app.viewModel.scenarios.scenarioFormModel.gridCellsRemaining('...');
                                                      }
                                                    }
                                                  }
                                                );
                                            {% elif field_min and field_max %}
                                                $('#slider-{{ field_input.html_name }}').bind( "slidestop", function(event, ui) {
                                                    $(this).slider('value', ui.value); // this line prevents the slider value from being 1 tick off (value update is normally lagging this event trigger)
                                                    if (app.viewModel.scenarios.scenarioFormModel) {
                                                        app.viewModel.scenarios.scenarioFormModel.updateFiltersAndCount('{{ field.html_name }}');
                                                    }
                                                });
                                                $('#slider-{{ field_min.html_name }}').bind( "slide slidechange", function(event, ui) {
                                                    if (app.viewModel.scenarios.scenarioFormModel) {
                                                        app.viewModel.scenarios.scenarioFormModel.gridCellsRemaining('...');
                                                    }
                                                });
                                            {% elif field_checkbox %}
                                                $('[name="{{ field_checkbox.html_name }}"').change( function(change_event) {
                                                    if (app.viewModel.scenarios.scenarioFormModel) {
                                                        if (!change_event.target.checked) {
                                                            app.viewModel.scenarios.scenarioFormModel.removeFilter('{{ field_checkbox.html_name }}_' + change_event.target.value.toString());
                                                        }
                                                        app.viewModel.scenarios.scenarioFormModel.updateFiltersAndCount('{{ field.html_name }}');
                                                    }
                                                });
                                            {% else %}
                                                $('#id_{{ field_input.html_name }}').change( function() {
                                                    if (app.viewModel.scenarios.scenarioFormModel) {
                                                        app.viewModel.scenarios.scenarioFormModel.updateFiltersAndCount('{{ field.html_name }}');
                                                    }
                                                });
                                            {% endif %}
                                        </script>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}

        <div id="step{{ form.get_steps|length|add:"1" }}" class="step max{{ form.get_steps|length|add:"1" }} bg-light">
            <div class="progress">
              <div class="progress-bar" aria-valuenow="step{{ form.get_steps|length|add:"1" }}" aria-valuemin="0" aria-valuemax="{{ form.get_steps|length|add:"1" }}"></div>
            </div>
            <div data-bind="css: { 'disabled': gridCellsRemaining()==0 }">
                {# <p class="instructions">Provide a <b>Name</b> to identify your Grid Filtering design</p> #}
                <div id="step{{ form.get_steps|length|add:"1" }}-inputs" class="step-inputs">
                    <div class="last-step-param">
                        <div class="form-group">
                            <label for="name">Name <small id="nameHelp" class="form-text text-muted">Choose a name to identify this design</small></label>
                            {{ form.name.errors }}
                            {{ form.name }}
                        </div>
                        <div id="invalid-name-message" class="control-group error" style="display: none;">
                            <span class="help-inline">The <b>Name</b> field is required.</span>
                        </div>
                    </div>
                    {# <p class="instructions">Optionally, you may add a <b>Description</b> <!--and/or attach a file--> </p> #}
                    <div class="last-step-param">
                        <div class="form-group">
                             <label for="description">Description <small id="descriptionHelp" class="form-text text-muted"><sup>*</sup>Optional</small></label>
                            {{ form.description.errors }}
                            {{ form.description }}
                        </div>
                    </div>
                </div>
            </div>
            <div id="empty-results-warning" data-bind="visible: gridCellsRemaining()==0" class="well text-error">
                <p><i class="icon-large icon-warning-sign"></i> Wait!  Your filtering results are empty!</p>
            </div>
        </div>

        <p id="scenario-hidden-submit">
          <button type="submit" value="submit" class="btn-submit btn">submit</button>
        </p>
    </form>

    <div class="wizard_nav">
        <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
            {% if not user.is_authenticated %}
                <div class="alert alert-danger" role="alert">
                    <button id="subnav-sign-in-modal" type="button" class="results-nav-item col nav-item button-modal btn btn-link red {% if user.is_authenticated %}hide{% endif %}" data-toggle="modal" data-target="#login-modal"><i class="svg_icon"><img src="{% static '/ucsrb/img/icon/i_user_grey.svg' %}" /></i> create account first to save evaluation</button>
                </div>
            {% endif %}
            <div class="btn-group" role="group" aria-label="cancel">
                <a href="#" class="cancel_button btn btn-light"><span>Cancel</span></a>
            </div>
            <div class="btn-group" role="group" aria-label="steps and save">
                <a href="#" class="button btn btn-outline-primary" onclick="this.blur(); return false;" id="button_prev"><span>&lt; Previous</span></a>
                <a href="#" class="button btn btn-outline-primary ml-auto"  onclick="this.blur(); return false;" id="button_next"><span>Next &gt;</span></a>
                {% if user.is_authenticated %}
                  <a href="#" class="submit_button button btn btn-primary" onclick="this.blur(); return false;"><span>Evaluate</span></a>
                {% else %}
                    <a href="#" class="submit_button button btn btn-primary" onclick="this.blur(); return false;"><span>Save</span></a>
                {% endif %}
            </div>
        </div>
    </div>

    <script type="text/javascript">
      var max_step = {{ form.get_steps|length|add:"1" }};

      jQuery.getScript("{% static 'scenarios/js/scenarios_form.js' %}", function () {
          console.debug("Loaded: {% static 'scenarios/js/scenarios_form.js' %}");
      });

      $('.field-tooltip').tooltip({trigger:'hover'});
    </script>

</div>
