{% extends "base.html" %}
{% load static %}

{% block site_style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'ucsrb/lib/pageguide/css/pageguide.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'ucsrb/css/ucsrb_pageguide.css' %}"/>

    <link rel="stylesheet" href="{% static 'ucsrb/css/ol.css' %}" media="screen,projection"/>
    <link rel="stylesheet" href="{% static 'ucsrb/lib/ol-layerswitcher/src/ol-layerswitcher.css' %}"/>
    <link rel="stylesheet" href="{% static 'ucsrb/css/billboard.css' %}" />

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.0.1/css/font-awesome.min.css">

    <link rel="stylesheet" href="{% static 'ucsrb/lib/ol-ext/dist/ol-ext.min.css' %}" type="text/css">

    <link rel="stylesheet" href="{% static 'visualize/css/ol4_settings.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'visualize/css/map_popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'scenarios/css/scenarios_form.css' %}" type="text/css">

    <link rel="stylesheet" href="{% static 'ucsrb/css/app.css' %}"/>
    <link rel="stylesheet" href="{% static 'ucsrb/css/_40-app.css' %}"/>
    <link rel="stylesheet" href="{% static 'ucsrb/css/_64-app.css' %}"/>
    <link rel="stylesheet" href="{% static 'ucsrb/css/_90-app.css' %}"/>

{% endblock site_style %}

{% block js_head %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
{% endblock js_head %}

{% block header %}
    {{ block.super }}
    {% include 'ucsrb/navbar.html' %}
{% endblock header %}

{% block content %}
    <section class="map-wrap">
        <div class="overlay">
            <div class="instructions d-flex justify-content-center">
                <h2 class="mx-auto w-80 text-center">Start by deciding how you want<br/>to interact with the map.</h2>
                <div id="collapsable-help-wrap" class="text-center mx-auto mt-4 w-50">
                  <a class="w80 mx-auto" data-toggle="collapse" role="button" href="#collapsableHelp" aria-expanded="false" aria-controls="collapsableHelp">Can't decide?</a>
                  <div class="collapse" id="collapsableHelp">
                    <div class="card card-body text-left">
                      <p>
                        <strong>Select Stream Segment</strong>
                        <br />
                        Choose a part of the river system to affect stream flows from actions of forest management
                      </p>
                      <p>
                          <strong>Filter Forest Regions</strong>
                          <br />
                          Identify which forest area you would like to treat to improve downstream streamflow
                      </p>
                      <p>
                          <strong>Draw Treatment Area</strong>
                          <br />
                          Specifically identify the exact forested areas you plan to treat
                      </p>
                    </div>
                  </div>
                </div>
                <div class="d-flex hvh">&nbsp;</div>
                <div id="instruction" class="d-flex align-self-center justify-content-center"></div>
            </div>
        </div>
        <div id="map"></div>
        <div id="popup" class="ol-popup">
          <a href="#" id="popup-closer" class="ol-popup-closer"></a>
          <div id="popup-content"></div>
        </div>
        <div id="panel" class="panel">
            <div id="panel-content" class="panel-content panel_inner">
              <div id="draw_form"></div>
              <div id="scenarios"></div>
              <div id="scenario_form"></div>
              <div id="results"></div>
            </div>
        </div>
    </section>

    {% include 'ucsrb/blocks/load_saved.html' %}

    <div id="loading-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="animation-container">
                        <div class="animation">
                            <div class="cssload-dot"></div>
                            <div class="cssload-dot"></div>
                            <div class="cssload-dot"></div>
                        </div>
                   </div>
                </div>
            </div>
        </div>
    </div>

        <ul id="tlyPageGuide" class="tlypageguide" data-tourtitle="How to use this tool">
          <!--
          <li class="tlypageguide_bottom" data-tourtarget="#process-nav">
            <div>
              This tool will walk you through identifying the forested area that you'd like to treat in three different ways:
            </div>
          </li>
          -->
          <li class="tlypageguide_left" data-tourtarget="#login-modal .modal-dialog">
            <div>
              Login Window: Use this window to
              <ul>
                <li>Register to create a new free account</li>
                <li>Log in with an existing account</li>
                <li>Reset a forgotten password via email</li>
              </ul>
            </div>
          </li>
          <li class="tlypageguide_bottom" data-tourtarget=".btn-method-select">
            <div>
              Select Stream Segment: Identify what part of the river system you wish to see increased streamflow in.
            </div>
          </li>
          <li class="tlypageguide_bottom" data-tourtarget=".btn-method-filter">
            <div>
              Filter Forest Regions: Identify which forest area you would like to treat to improve downstream streamflow
            </div>
          </li>
          <li class="tlypageguide_bottom" data-tourtarget=".btn-method-draw">
            <div>
              Draw Treatment Area: Specifically identify the exact forested areas you plan to treat.
            </div>
          </li>
          <li class="tlypageguide_bottom" data-tourtarget=".navbar-toggler">
            <div>
              Menu: Use this to navigate the website and manage your account
            </div>
          </li>
          <li class="tlypageguide_bottom" data-tourtarget="#topnav-account-link">
            <div>
              Account: If you are logged in, click here to manage your account,<br/>
              Otherwise this will prompt you to log in.
            </div>
          </li>
          <li class="tlypageguide_bottom" data-tourtarget="#sign-in-modal-2">
            <div>
              Login: This tool does not require you to log in, but if you wish to save your results, you will need to create a free account and login.
            </div>
          </li>
          <li class="tlypageguide_bottom" data-tourtarget="#nav-load-save">
            <div>
              Load Saved Treatment Scenarios: Bring up any of your previously saved results
            </div>
          </li>
        </ul>

        <ul id="stepTwoPageGuide" class="tlypageguide" data-tourtitle="How to use this tool">
          <li class="tlypageguide_bottom" data-tourtarget="#nav-start-over">
            <div>
              Start Over: Restart the process from the beginning. Any unsaved results will be lost.<br/>
              NOTE: If you are not logged in, you will not be able to save your results.
            </div>
          </li>
          <li class="tlypageguide_bottom" data-tourtarget="#instruction">
            <div>
              Instructions: At each step this will tell you what to do.
            </div>
          </li>
          <li class="tlypageguide_bottom" data-tourtarget=".layer-switcher">
            <div>
              Layer Switcher: Switch Base Maps or turn map overlays on or off.
            </div>
          </li>
          <li class="tlypageguide_bottom" data-tourtarget=".ol-geo-search">
            <div>
              Geo Search: Type in a place name, select a result from the drop-down and the map will zoom in on it.
            </div>
          </li>
          <li class="tlypageguide_bottom" data-tourtarget=".ol-zoom">
            <div>
              Zoom Controls: Use these to zoom in and out of the map. You can also use your mouse's scroll wheel.
            </div>
          </li>
          <li class="tlypageguide_left" data-tourtarget=".ol-attribution">
            <div>
              Attribution: Click here to see attribution for the sources of the map layers.
            </div>
          </li>
          <li class="tlypageguide_left" data-tourtarget=".popover">
            <div>
              Popup Action: Popups are used to do many things, including:<br/>
              <ul>
                <li>Display place names</li>
                <li>Select regions to treat</li>
              </ul>
            </div>
          </li>
          <li class="tlypageguide_left" data-tourtarget="#scenario_form">
            <div>
              Treatment Scenario Filter Form: Use these parameters to identify the prime locations to treat.
            </div>
          </li>
          <li class="tlypageguide_left" data-tourtarget="#draw_form">
            <div>
              Drawing Instructions: These will guide you through drawing the specific areas you wish to evaluate for treatment
            </div>
          </li>
        </ul>

{% endblock %}

{% block footer_wrap %}{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
    <script src="https://openlayers.org/en/v4.6.4/examples/resources/mapbox-streets-v6-style.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/2.1.0/knockout-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout.mapping/2.3.2/knockout.mapping.js"></script>
    <script src="{% static 'js/knockout-bindings.js' %}"></script>

    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="{% static 'ucsrb/js/billboard.min.js' %}"></script>

    <script src="{% static 'ucsrb/lib/pageguide/js/pageguide.min.js' %}"></script>

    <!-- <script src="{% static 'ucsrb/js/ol.js' %}"></script> -->
    <script src="{% static 'ucsrb/js/ol-debug.js' %}"></script>
    <script src="{% static 'ucsrb/lib/ol-layerswitcher/dist/ol-layerswitcher.js' %}"></script>
    <script src="{% static 'ucsrb/js/app.js' %}"></script>

    <script src="{% static 'visualize/js/' %}{{ MAP_TECH }}_settings.js"></script>
    <script src="{% static 'scenarios/js/' %}{{ MAP_TECH }}_settings.js"></script>

    <script src="{% static 'ucsrb/js/state.js' %}"></script>

    <script>
      app.mapbox = {
          key: '{{ MAPBOX_TOKEN }}'
      };
      app.here = {
        key: '{{ HERE_TOKEN }}',
        appCode: '{{ HERE_APP_CODE }}',
      }
    </script>
    <script src="{% static 'ucsrb/js/map.js' %}"></script>
    <script src="{% static 'ucsrb/js/selection.js' %}"></script>
    <script src="{% static 'ucsrb/js/app.events.js' %}"></script>
    <script src="{% static 'ucsrb/js/visualization.js' %}"></script>
    <script src="{% static 'ucsrb/js/geosearch.js' %}"></script>

    <script src="{% static 'scenarios/js/models.js' %}"></script>
    <script src="{% static 'ucsrb/js/scenarios.js' %}"></script>

    <script src="{% static 'ucsrb/lib/ol-ext/dist/ol-ext.min.js' %}"></script>
{% endblock extra_js %}
