{% extends "base.html" %}
{% load static %}

{% block site_style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'ucsrb/css/ol.css' %}" media="screen,projection"/>
{% endblock site_style %}

{% block content %}
    <div id="map"></div>
    <div id="right-panel">
        <div class="step1">Step 1</div>
        <div class="step2">Step 2</div>
        <div class="step3">Step 3</div>
    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'ucsrb/js/ol.js' %}"></script>
    <script src="{% static 'ucsrb/js/map.js' %}"></script>
    <script src="{% static 'ucsrb/js/scenario-type.js' %}"></script>
    <script src="{% static 'ucsrb/js/main.js' %}"></script>
{% endblock extra_js %}
