{% extends "footer.html" %}
{% load static %}

{% block footer-brand %}
<!-- <img src="{% static 'brand/logo.svg' %}"></img> -->
<!-- <p>footer brand</p> -->
{% endblock %}

{% block footer-blurb %}
<p class="about-text">Welcome to the <a href="{% url 'planner' %}">UCSRB Snowpack Treatment Assessment</a>, an Interactive mapping tool.</p>
{% endblock %}

{% block social-links %}
{% endblock %}

{% block contact %}
<a class="email" href="mailto:ksdev@ecotrust.org">ksdev@ecotrust.org</a>
{% endblock %}
