{% load static %}

{% block footer-brand %}
    <div class="container-fluid">
        <div class="row justify-content-between align-items-center">
            <div class="col-3 align-self-center pad-left">
                <hr />
                <p><a href="mailto:info@forestviewer.com">info@forestviewer.com</a></p>
                <p><a href="tel:+15555555555">555.555.5555</a></p>
            </div>
            <div class="col-4"></div>
            <div class="col align-self-end text-right">
                <img src="{% static 'ucsrb/img/logo/logo-ridgetop.svg' %}" class="footer-logo" />
            </div>
            <div class="col align-self-end text-right">
                <img src="{% static 'ucsrb/img/logo/logo-ucsrb.svg' %}" class="footer-logo" />
            </div>
        </div>
    </div>
{% endblock %}

{% block footer-blurb %}{% endblock %}

{% block social-links %}{% endblock %}

{% block contact %}{% endblock %}
