{% extends "base.html" %}
{% load static %}

{% block site_style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'ucsrb/css/landing-layout.css' %}"/>
    <link rel="stylesheet" href="{% static 'ucsrb/css/landing-mq.css' %}"/>
{% endblock site_style %}

{% block body_class %}home{% endblock body_class %}
{% block layout %}landing{% endblock layout %}

{% block content %}

<div class="home-wrap">
    <div class="jumbotron">
        <div class="hero-bg">
            <cite>I, <a href="/w/index.php?title=User:Murderbike&amp;action=edit&amp;redlink=1" class="new" title="User:Murderbike (page does not exist)">Murderbike</a> [<a href="http://www.gnu.org/copyleft/fdl.html">GFDL</a> or <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA-3.0</a>], <a href="https://commons.wikimedia.org/wiki/File%3AMethow_River.JPG">via Wikimedia Commons</a></cite>
        </div>
        <div class="container text-center">
            <h1 class="display-1">Snow2flow</h1>
            <a href="/app" id="launch" class="btn btn-outline-light btn-lg">Launch</a>
        </div>
    </div>

    <section class="home-intro">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col col-sm"></div>
                <div class="col col-sm-2">
                    <img src="{% static 'ucsrb/img/icon/i_evergreens.svg' %}" class="icon" alt="evergreens icons" />
                </div>
                <div class="col col-sm"></div>
            </div>
            <div class="row justify-content-md-center app-benefits">
                <div class="col col-md-12">
                    <h2>Direct Forest Restoration Activities to</h2>
                    <div class="row justify-content-md-center align-items-center benefit-list">
                        <div class="col col-sm-12 col-md-10">
                            <div class="row justify-content-md-center align-items-center benefit-list">
                                <div class="col-md-4">
                                    <h4><strong>Retain</strong><br />Snowpack</h4>
                                </div>
                                <div class="col-md-4">
                                    <h4><strong>Manage</strong><br />Water Supply</h4>
                                </div>
                                <div class="col-md-4">
                                    <h4><strong>Manage</strong><br />Timing</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <strong>FOR</strong>
                    <h2 class="primary-color">Salmon Recovery Support</h2>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col p-5 col-md-3">
                    <hr />
                </div>
            </div>
            <!-- <div class="row justify-content-md-center app-benefits">
                <div class="col col-md-8">
                    <h2>Support Salmon Recovery by Managing Forest Restoration Activities to Retain Snowpack and Manage water flow and timing</h2>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col col-md-2">
                    <hr />
                </div>
            </div> -->
            <div class="row justify-content-md-center">
                <div class="col col-md-8">
                    <p>This free, online decision support tool helps forest and stream restoration practitioners support salmon recovery across North Central Washington. The easy-to-use website informs salmon recovery by assessing the effects of forest restoration activity on snowpack retention and subsequent water supply and timing.</p>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col col-md-4">
                    <hr />
                </div>
            </div>
        </div>
    </section>

    <section class="home-about">
        <div class="row">
            <div class="col col-sm align-self-start">
                <img src="{% static 'ucsrb/img/watershed.png' %}" alt="watershed illustration" />
            </div>
            <div class="col col-sm align-self-end">
                <h2>About the App</h2>
                <p>Water availability, especially during the late summer, affects salmon populations in the Upper Columbia. One of several approaches to increasing the amount of water available for instream flow in the late summer is by increasing the capture and duration of storage of mountain snowpack. This tool builds on Pacific Northwest National Laboratory’s Distributed Hydrology Soil Vegetation model (DHSVM) to identify both how forest restoration activity affects downstream flows, and where to target upstream restoration activities to benefit specific in-stream locations.</p>
            </div>
        </div>
    </section>
</div>

{% endblock %}

{% block outer_content %}

{% endblock outer_content %}
