{% load static %}
<div class="nav-wrap top-nav-wrap">
    {% include 'ucsrb/blocks/nav.html' %}
</div>

<div class="nav-wrap secondary-nav container-fluid">
    <div class="row h-100">
        <ul id="process-nav" class="col-9 nav method-nav justify-content-center align-items-center">
            <li class="nav-item col">
                <button data-method="select"><img src="{% static 'ucsrb/img/icon/stream_select.svg' %}" alt="select segment" /><h3>Select stream segment</h3></button>
            </li>
            <li class="nav-item col">
                <button data-method="filter"><img src="{% static 'ucsrb/img/icon/filter_forest.svg' %}" alt="filter region" /><h3>Filter forest regions</h3></button>
            </li>
            <li class="nav-item col">
                <button data-method="draw"><img src="{% static 'ucsrb/img/icon/draw_area.svg' %}" alt="draw area" /><h3>Draw treatment area</h3></button>
            </li>
        </ul>
        <ul id="results-nav" class="col-9 nav method-nav justify-content-start align-items-center d-none">
            <li class="nav-item col col-2">
                <button data-method="hydro"><img src="{% static 'ucsrb/img/icon/i_hydro.svg' %}" alt="hydro results" /><h3>Hydro Results</h3></button>
            </li>
            <li class="nav-item col col-2">
                <button data-method="aggregate"><img src="{% static 'ucsrb/img/icon/i_forest.svg' %}" alt="forest management summary" /><h3>Forest Management Summary</h3></button>
            </li>
        </ul>
        <nav id="file-nav" class="col-3 nav justify-content-center flex-column">
            <div class="dropdown">
                <button class="btn btn-light dropdown-toggle" type="button" id="fileNavButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Options
                </button>
                <div class="dropdown-menu" aria-labelledby="fileNavButton">
                    <!-- <a href="" id="nav-back" class="dropdown-item"><i class="svg_icon"><img src="{% static '/ucsrb/img/icon/i_back.svg' %}" /></i> back</a> -->
                    <button id="nav-load-save" type="button" class="dropdown-item" data-toggle="modal" data-target="#load-saved"><i class="svg_icon"><img src="{% static '/ucsrb/img/icon/i_folder.svg' %}" /></i> load saved</button>
                    <a href="" id="nav-load-save" class="dropdown-item"><i class="svg_icon"><img src="{% static '/ucsrb/img/icon/i_reset.svg' %}" /></i> start over</a>
                    <a href="" id="nav-load-save" class="dropdown-item"><i class="svg_icon"><img src="{% static '/ucsrb/img/icon/i_download.svg' %}" /></i> save</a>
                </div>
            </div>
        </nav>
    </div>
</div>
