{% load static %}
<div class="nav-wrap secondary-nav container-fluid">
    <div class="row h-100">
        <ul id="process-nav" class="col-9 nav method-nav justify-content-center align-items-center">
            <li class="nav-item col">
                <button class="btn-method-select" data-method="select" data-toggle="tooltip" data-placement="bottom" title="Choose a specific stream then identify forest management actions that will affect stream flows for the chosen stream."><img src="{% static 'ucsrb/img/icon/stream_select.svg' %}" alt="select segment" /><h3>Select stream segment</h3></button>
            </li>
            <li class="nav-item col">
                <button class="btn-method-filter" data-method="filter" data-toggle="tooltip" data-placement="bottom" title="Choose a specific forest management unit, identify forest management actions for the chosen forest management unit, then evaluate affect on stream flows."><img src="{% static 'ucsrb/img/icon/filter_forest.svg' %}" alt="filter region" /><h3>Filter forest regions</h3></button>
            </li>
            <li class="nav-item col">
                <button class="btn-method-draw" data-method="draw" data-toggle="tooltip" data-placement="bottom" title="Draw a treatment area then evaluate affect on stream flows."><img src="{% static 'ucsrb/img/icon/draw_area.svg' %}" alt="draw area" /><h3>Draw treatment area</h3></button>
            </li>
        </ul>
        <ul id="results-nav" class="col-9 nav method-nav justify-content-start align-items-center d-none">
            <li class="nav-item col col-2">
                <button data-method="hydro"><img src="{% static 'ucsrb/img/icon/i_hydro.svg' %}" alt="hydro results" /><h3>Hydro Results</h3></button>
            </li>
            <li class="nav-item col col-2">
                <button data-method="aggregate"><img src="{% static 'ucsrb/img/icon/i_forest.svg' %}" alt="forest management summary" /><h3>Forest Management Summary</h3></button>
            </li>
        </ul>
        <nav id="file-nav" class="col-3 nav justify-content-center flex-row align-items-center">
            <div class="row justify-content-center pl-4">
                <button id="nav-anon-save" type="button" class="col nav-item button-modal btn btn-link d-none {% if not user.is_authenticated %}hide{% endif %}" ><i class="svg_icon"><img src="{% static '/ucsrb/img/icon/i_backup.svg' %}" /></i> save</button>
                <button id="nav-load-save" type="button" class="col nav-item button-modal btn btn-link {% if not user.is_authenticated %}hide{% endif %}" data-toggle="modal" data-target="#load-saved"><i class="svg_icon"><img src="{% static '/ucsrb/img/icon/i_folder.svg' %}" /></i> load saved</button>
                <button id="subnav-sign-in-modal" type="button" class="results-nav-item d-none col nav-item button-modal btn btn-link {% if user.is_authenticated %}hide{% endif %}" data-toggle="modal" data-target="#login-modal"><i class="svg_icon"><img src="{% static '/ucsrb/img/icon/i_backup.svg' %}" /></i> save</button>
                <button id="nav-start-over" type="button" class="col nav-item button-modal btn btn-link d-none"><a href="/app"><i class="svg_icon"><img src="{% static '/ucsrb/img/icon/i_reset.svg' %}" /></i> start over</a></button>
            </div>
        </nav>
    </div>
</div>
