{% load static %}
<div class="nav-wrap">
    <nav id="men">
        <a href="">Terms Defined</a>
        <a href="">Tutorial</a>
        <a href="">Log in</a>
    </nav>
    <h1>Forest Viewer Title</h1>
</div>

<div class="nav-wrap">
    <nav id="scenario-nav">
        <a href="" data-scenario-type="select">Select stream segment</a>
        <a href="" data-scenario-type="filter">Filter forest regions</a>
        <a href="" data-scenario-type="draw">Draw treatment areas</a>
    </nav>
    <nav id="file-nav">
        <a href="">load saved</a>
    </nav>
</div>
