{% extends "base.html" %}
{% load static %}

{% block site_style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'ucsrb/css/landing-layout.css' %}"/>
    <link rel="stylesheet" href="{% static 'ucsrb/css/landing-mq.css' %}"/>
{% endblock site_style %}

{% block body_class %}Flat Pages{% endblock body_class %}
{% block layout %}default{% endblock layout %}

{% block content %}

<section class="page-content">
    <div class="container">
        <div class="row">
            <div class="col"><h2>{{ flatpage.title }}</h2></div>
        </div>
        <div class="row">
            <div class="col">{{ flatpage.content }}</div>
        </div>
    </div>
</section>

{% endblock %}

{% block outer_content %}

{% endblock outer_content %}
