{% load static %}

{% if 'account' not in request.path %}
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Access</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            {% include 'accounts/login_form.html' %}

            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#register-collapse" aria-expanded="false" aria-controls="register-collapse">Register</button>

            <div class="collapse" id="register-collapse">
              <div class="card card-body bg-dark">
                {% include 'accounts/registration_form.html' %}
                <div id="registration-error"></div>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
{% endif %}
