<nav class="navbar navbar-light pl-5">
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a href="/home"><h1>Snow2flow</h1></a>
    <div class="collapse navbar-collapse" id="menu">
        <div class="list-group">
            <a href="/app/" class="list-group-item list-group-item-action">Snow2flow App</a>
            <a href="" class="list-group-item list-group-item-action">Terms Defined</a>
            <a href="" class="list-group-item list-group-item-action">Tutorial</a>
            {% if user.is_authenticated %}
                <a href="/account/" class="list-group-item list-group-item-action">{{ user.username }}</a>
                <button id="sign-out" data-action="sign-out" class="list-group-item list-group-item-action">Sign out</button>
            {% else %}
                {% if 'account' not in request.path %}
                    <button id="sign-in-modal" data-action="sign-in-modal" class="list-group-item list-group-item-action">Login</button>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="username-wrap">
        {% if user.is_authenticated %}
            <a href="/account/" class="d-flex">{{ user.username }}</a>
        {% else %}
            <a href="/account/" class=""></a>
        {% endif %}
    </div>
</nav>
